body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: olive;
}

h1 {
    font-size: 16rem;
    font-family: Fascinate;
}

.letter {
    transition: color 1000ms;
}